@page "/potwierdz-email"

@rendermode InteractiveAuto

<PageTitle>Potwierdzenie</PageTitle>

<section class="confirm-email">
	<h1 class="confirm-email__heading">Potwierdzenie</h1>
	<div class="confirm-email__p">
		<p>
			Twoje konto zostało utworzone.
		</p>
		<p>
			Wysłaliśmy do Ciebie e-mail z linkiem aktywacyjnym ✅
		</p>
		<p>
			Sprawdź swoją skrzynkę 🔴
		</p>
	</div>
</section>