.confirm-email {
    padding: 3rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.confirm-email__p {
    font-size: 1.2rem;
    margin: 2rem 0 2rem 2rem;
}

.confirm-email__heading {
    margin: 0 0 1rem 2rem;
    font-size: 2.3rem;
}

@media screen and (min-width: 1200px) {
    .confirm-email {
        margin: 5rem;
        padding: 3rem;
    }
}
