@page "/resetowanie-hasla"

@rendermode InteractiveAuto

<PageTitle>Resetowanie hasła</PageTitle>

<section class="forgot-form">
	<h1 class="forgot-form__heading">Resetowanie hasła</h1>

	@if (_showError)
	{
		<div class="alert alert-danger mx-4" role="alert">
			Coś poszło nie tak. Spróbuj ponownie lub skontaktuj się z administratorem.
		</div>
	}

	@if (_showSuccess)
	{
		<div class="alert alert-success mx-4" role="alert">
			Link do resetowania hasła został wysłany na Twój adres e-mail. Sprawdz skrzynkę odbiorczą i postępuj według instrukcji.
		</div>
	}

	<EditForm Model="_command" OnValidSubmit="Save">
		<DataAnnotationsValidator />
		<ValidationSummary />

		<div class="forgot-form__group">
			<label class="forgot-form__label">Wprowadź adres e-mail:</label>
			<InputText @bind-Value="@_command.Email" class="forgot-form__text"
					   type="email"
					   placeholder="Wprowadź adres e-mail" />
		</div>

		<button class="forgot-form__button forgot-form__button--primary">
			Przypomnij hasło
		</button>

		<div class="forgot-form__link">
			<a href="/rejestracja" class="forgot-form__a">Zarejestruj się</a>
			<a href="/logowanie" class="forgot-form__a">Zaloguj się</a>
		</div>

	</EditForm>

</section>