.reset-form {
    padding: 3rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.reset-form__heading {
    margin: 0 0 1rem 2rem;
    font-size: 2.3rem;
}

.reset-form__group {
    padding: .9rem 2rem;
}

.reset-form__label {
    display: inline-block;
    font-size: 1.1rem;
    margin-bottom: .7rem;
}

::deep .reset-form__text {
    width: 100%;
    font-size: 1.2rem;
    padding: .8rem 1rem;
    border-radius: 5px;
    outline: none;
    border: 2px solid rgb(145, 144, 144);
}

    ::deep .reset-form__text::placeholder {
        font-size: 1.2rem;
    }

    ::deep .reset-form__text:focus {
        border: 2px solid #000;
    }

.reset-form__button {
    font-size: 1.6rem;
    padding: 1rem 2.8rem;
    cursor: pointer;
    border-radius: 20px;
    border: 0;
    margin-left: 2rem;
    margin-top: 1rem;
}

.reset-form__button--primary {
    color: #fff;
    background: #1877f2;
}

    .reset-form__button--primary:hover {
        background: #6aa5f1;
    }



.reset-form__link {
    padding: 1.9rem 2rem 0 2rem;
}

.reset-form__a {
    text-decoration: none;
    display: block;
}

@media screen and (min-width: 1200px) {
    .reset-form {
        margin: 5rem;
        padding: 3rem;
    }
}
