@*
	Komponent z rozszerzeniem .razor. Jest to połączenie HTML z C#.
	Wstawiany bezpośrenio na stronę w znaczniku <NazwaKomponentu />
*@

@* Obsługa małych ekranów i przycisku "hamburger" *@
<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">BlazorServer</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

@* Linki na panelu bocznym *@
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="counter">
				<span class="oi oi-plus" aria-hidden="true"></span> Counter
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="fetchdata">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
			</NavLink>
		</div>
	</nav>
</div>

@* Kod w C# - unikać takiego zapisu, lepiej zrobić nowy plik o nazwie takiej jak komponent z dopiskiem rozszerzenia .cs
taka klasa musi mieć nazwę taką jak komponent i być oznaczona jako partial *@
@code {
    // tutaj można umieścić kod C# dla tego komponentu
}