@page "/task/edit/{id:int}"

<PageTitle>Title</PageTitle>

<h1>Title</h1>

<div class="row my-4">
	<div class="col-6">
        <EditForm Model="_editTaskCommand" OnValidSubmit="SaveAsync">
			<DataAnnotationsValidator />
			<ValidationSummary />

			<div class="form-group mt-3">
				<label class="form-label">Tytuł</label>
				<InputText @bind-Value="_editTaskCommand.Title" class="form-control" />
			</div>

			<div class="form-group mt-3">
				<label class="form-label">Opis</label>
				<InputTextArea @bind-Value="_editTaskCommand.Description" class="form-control" rows="4" />
			</div>

			<div class="form-check mt-3">
				<InputCheckbox @bind-Value="_editTaskCommand.IsExecuted" class="form-check-input" />
				<label class="form-check-label">Czy wykonano?</label>
			</div>

			<div class="form-group mt-3">
				<label class="form-label">Termin wykonania</label>
				<InputDate @bind-Value="_editTaskCommand.Term" class="form-control" />
			</div>

			<div class="form-group mt-3">
				@if (_isLoading)
				{
					<button class="btn btn-primary btn-lg btn-spinner" disabled>
						<img src="/loading.gif" />
						<span>Zapisywanie...</span>
					</button>
				}
				else
				{
					<a href="/" class="btn btn-secondary btn-lg">
						Anuluj
					</a>
					<button class="btn btn-primary btn-lg">
						Zapisz
					</button>
				}
			</div>

		</EditForm>
	</div>
</div>