@page "/"

@rendermode InteractiveAuto

@* wyłączenie prerenderowania *@
@* @rendermode _renderMode *@

<PageTitle>Strona Główna - Rowery.xyz</PageTitle>

<div class="row">

	@if (_products == null)
	{
		<p>Wczytywanie danych...</p>
	}
	else if (!_products.Any())
	{
		<p>Brak produktów.</p>
	}
	else
	{
		@foreach (var item in _products)
		{
			<Product ProductModel="item"></Product>
		}

        <Pagination PaginationInfo="_paginationInfo" SelectedPage="OnSelectedPage"></Pagination>
	}

</div>