@page "/"

@rendermode InteractiveAuto

@* wyłączenie prerenderowania *@
@* @rendermode _renderMode *@

<PageTitle>Strona Główna - Rowery.xyz</PageTitle>

<div class="row mb-4">
    <div class=col-6>
        <Search SearchValueChanged="OnSearchValueChanged"></Search>
    </div>
	<div class=col-6>
        <Sort SortChanged="OnSortChanged"></Sort>
    </div>
</div>

<div class="row">

    @if (_products == null || _isLoading)
    {
        <Loading></Loading>
    }
    else if (!_products.Any())
    {
        <p>Brak produktów.</p>
    }
    else
    {
        @foreach (var item in _products)
        {
            <Product ProductModel="item"></Product>
        }
        <Pagination PaginationInfo="_paginationInfo" SelectedPage="OnSelectedPage"></Pagination>
    }
</div>