@page "/potwierdzenie"

@rendermode InteractiveAuto

<PageTitle>Potwierdzenie płatności</PageTitle>

@if (_isLoading)
{
	<SimpleShop.Client.Shared.Loading />
}
else
{
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col text-success text-center fs-1" role="alert">
					Wszystko się udało. Twoja płatność została potwierdzona.
				</div>
			</div>
		</div>
	</div>
}

<div class="row">
	<div class="col text-md-center m-5 text-primary">
		<a href="/" class="btn btn-primary">
			Przejdź do strony głównej
		</a>
	</div>
</div>