@rendermode InteractiveAuto

<div class="row">
	<nav class="d-flex justify-content-center">
		<ul class="pagination pagination-lg">
			@foreach (var item in _links)
			{
				// powiadomienie elementu nadrzędnego że przycisk paginacji został kliknięty i muszą zostać odświeżone dane na widoku
				// jako parametr przekazywany przycisk, który został kliknięty
				<li @onclick="() => OnSelectedPage(item)" 
					class="page-item pagination-link @(item.Active ? "active" : "") @(item.Enabled ? "" : "disabled")" 
					href="#">
					<span class="page-link">@item.Text</span>
				</li>
			}
		</ul>
	</nav>
</div>