@rendermode InteractiveAuto

<section>
	<select class="form-control form-control-lg" @onchange="OnSortChanged">
		<option disabled selected>-- Sortuj --</option>
		<option value="Name asc">Nazwa</option>
		<option value="Price desc">Cena: Malejąco</option>
		<option value="Price asc">Cena: Rosnąco</option>
	</select>
</section>