@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<br />

@if (_works)
{
	<p>Biblioteka została zainstalowana poprawnie</p>
}

<RadzenButton Click="@ButtonClicked" Text="Weryfikuj działanie"></RadzenButton>

@code {
	private bool _works;

	void ButtonClicked()
	{
		_works = true;
	}
}