@* Takie oznaczenie "/" oznacza, ze to strona główna - brak adresu tylko główny katalog *@
@page "/"

@* Tytuł strony wyświetlanej w zakładce przeglądarki, trafia też do HTML do znacznika <title> w <head> *@
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>Modele hostowania</p>
<ul>
	<li>Blazor Server</li>
	<li>Blazor WebAssembly</li>
	<li>Blazor Server Side Rendering</li>
</ul>

<button class="btn btn-primary">Click me</button>