@page "/javascript"

<h3>JavaScript</h3>

<button class="btn btn-info btn-lg mt-3" @onclick="DisplayAlert">Wyświetl Alert (JavaScript)</button>

<br />

<button class="btn btn-info btn-lg mt-3" @onclick="DisplayConfirmDialog">Wyświetl Potwierdzenie (JavaScript)</button>
@if (_dialogResult)
{
	<p class="text-success mt-2">Potwierdzono!</p>
}
else
{
	<p class="mt-2">Oczekiwanie na potwierdzenie...</p>
}

<br />

<button class="btn btn-info btn-lg mt-3" @onclick="DisplayResultJS">Wyświetl wynik dodawania (JavaScript)</button>

<br />

<button class="btn btn-dark btn-lg mt-3" @onclick="DisplayResultCSharp">Wyświetl wynik dodawania (Wywołaj C# w JavaScript)</button>

<br />

<button class="btn btn-dark btn-lg mt-3" @onclick="DisplayDateCSharp">Wyświetl datę (Wywołaj C# w JavaScript)</button>

@if (!string.IsNullOrWhiteSpace(_currentDate))
{
	<p class="text-success mt-2">Date: @_currentDate</p>
}

<br />

<button class="btn btn-info btn-lg mt-3" @onclick="DisplayResultJsModule">Wyświetl wynik dodawania (JavaScript Module)</button>

<br />

<button class="btn btn-success btn-lg mt-3" @onclick="DisplayToastrNotification">Wyświetl notyfikację (toastr)</button>

<br />

<button class="btn btn-success btn-lg mt-3" @onclick="DisplayNewString">Wyświetl połączone wyrazy (JS)</button>
@if (!string.IsNullOrWhiteSpace(_newString))
{
	<p class="text-success mt-2">Text: @_newString</p>
}

<br />

<button class="btn btn-success btn-lg mt-3" @onclick="ChangeBackgroundColor">Zmień kolor tła</button>
