<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorWebAppServer.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

	@* INFO - określenie interaktywności - Server - dla całej aplikacji *@
	@* <HeadOutlet @rendermode="RenderMode.InteractiveServer" /> *@

	@* INFO - globalne ustawienie interaktywności + wyłączenie Prerendering - wstępnego renderowania *@
	@* <HeadOutlet @rendermode="new InteractiveServerRenderMode(prerender: false)" /> *@

	@* INFO - globalne ustawienie interaktywności + wyłączenie Prerendering - wstępnego renderowania używając zmiennej z kodu C# *@
	<HeadOutlet @rendermode="_renderMode" />

</head>

<body>
	@* INFO - określenie interaktywności - Server - globalnie dla całej aplikacji *@
	@* <Routes @rendermode="RenderMode.InteractiveServer" /> *@

	@* INFO - globalne ustawienie interaktywności + wyłączenie Prerendering - wstępnego renderowania *@
	<Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
	
	@* INFO - globalne ustawienie interaktywności + wyłączenie Prerendering - wstępnego renderowania używając zmiennej z kodu C# *@
	<Routes @rendermode="_renderMode" />

    <script src="_framework/blazor.web.js"></script>
</body>

</html>

@code {
	private static IComponentRenderMode _renderMode = new InteractiveServerRenderMode(prerender: false);
}