@* 
	INFO - określenie trybu renderowania dla komponentu w jego ciele 
	jeżeli taki sposób określania trybu, to ten komponent zawsze będzie miał taki tryb
*@
@rendermode RenderMode.InteractiveServer

<h3>Test</h3>

<p>Test coponent</p>

@code {

}
