@page "/counter"

@* w przypadku gdy interaktywność jest ustawiona na WebAssembly jako osobno dla każdej strony/komponentu a nie globalnie, to na każdym komponencie trzeba ustawiać tryb rendermode,
strony/komponenty bez interaktywności znajdują się w głównym projekcie (serwerowym), a te z interaktywnością trafiają do podprojektu Client, który jest ładowany w przeglądarce *@
@rendermode InteractiveWebAssembly

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
