.header, .header a {
	background: #000;
	color: #fff;
	text-decoration: none;
}

.header__img {
	width: 100px;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.header__title {
	margin-left: 2rem;
	font-size: 2rem;
}

.header__link {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	min-height: 80vh;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.footer {
	text-align: center;
	background: #000;
	color: #fff;
	padding: 1rem 0;
	font-size: 1.2rem;
}
